<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcome}}</p>
        <p>Its {{currentHour}}:{{currentMinute}}:{{currentSecond}}</p>
        <p>Today: {{getCurrentYear}}/{{currentMonth}}/{{currentDay}}</p>

        {{> footer}}
    </body>
</html>